.navBarcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: #111;

  padding: 0 .625rem;

  & > .title {
    color: #e50914;
    cursor: pointer;
    font-size: 2rem;
  }

  & > .links {
    display: flex;
    justify-content: space-evenly;
  }
}
