.moviecardContainer {
  width: 7.875rem;
  height: 15.875rem;

  & > .imageContainer {
    width: 7.875rem;
    height: 11.875rem;
    overflow: hidden;

    img {
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  & > .title {
    color: #4c4c4c;
    font-size: 1rem;
    font-weight: 700;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: .5rem 0 .25rem;
  }

  & > .releaseYear {
    display: block;

    color: #929292;
    font-style: italic;
    font-size: .875rem;
    font-family: 'Times New Roman', Times, Baskerville, Georgia, serif;
    margin: .25rem 0 .25rem;
  }

  & > .switch {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    margin: 0 0 .25rem;

    & > input[type='checkbox'] {
      margin: 0;

      visibility: hidden;
      font-size: .875rem;
      cursor: pointer;
      position: relative;

      &:before {
        content: '\2605';
        position: absolute;
        visibility: visible;
        color: #fff;
        top: -0.25rem;
        width: 7.875rem;
      }

      &:checked:before {
        content: '\2605';
        position: absolute;
        color: #ff2052;
        top: -0.3125rem;
      }
    }

    & > .label {
      color: #929292;
      font-style: italic;
      font-size: .875rem;
      margin: .25rem 0 .25rem;
    }
  }
}
