.errorMessage {
  border-radius: 0.75rem;
  border: 0.0625rem solid #e8e8e8;
  padding: 0.75rem;
  margin: 0 auto;
  color: #000;
  background-color: #ffffff;

  & > span {
    font-weight: 800;
  }
}
