.buttonContainer {
  background: #e50914;
  border: 0;
  border-radius: .25rem;
  color: #ffffff;
  cursor: pointer;
  padding: 0 1rem;
  width: 8.125rem;
  min-height: 2.5rem;
  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    background: #957f7f;
    cursor: not-allowed;
  }

  & > .loader {
    border: .25rem solid #e50914;
    border-top: .25rem solid #fff;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    animation: spin 200ms linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
